__pycache__
*.pyc
*.egg-info/
*.pid
beat.*
dev/migrations/
instance/*
!instance/testing.py
.python-version
.pytest_cache/
.tox/
.coverage*
*.log*
mqtt_edge/logger/log.txt
!.coveragerc
htmlcov/
build
dist
.idea/
