{% extends "bootstrap/base.html" %}
{% block title %}Flask-MQTT example{% endblock %}

{% block styles %}
{{ super() }}
<style>
  pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  }
</style>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.bootcss.com/socket.io/2.2.0/socket.io.js"></script>
<script type="text/javascript" charset="utf-8">

  $(document).ready(function() {
  
    $('#edge_create').click(function(event){
      var term_sn = $('#term_sn').val()
      var term_config = $('#term_config').val()
      $.post('/edge/term_sn', {'term_sn': term_sn, 'term_config': term_config}, function(res){
		  edge_log(res)
      })
    })

    $('#edge_register').click(function(event){
      var term_sn = $('#term_sn').val()
      $.post('/edge/register', {'term_sn': term_sn}, function(res){
		  edge_log(res)
      })
    })
    $('#edge_report').click(function(event){
      var term_sn = $('#term_sn').val()
      $.post('/edge/report', {'term_sn': term_sn}, function(res){
		  edge_log(res)
      })
    })

    $('#cloud_start').click(function(event){
      $.get('/cloud/client', function(res){
		  cloud_log(res)
      })
    })

    $('#cloud_add_edge').click(function(event){
      var term_sn = $('#term_sn_new').val()
      var term_config = $('#term_config_new').val()
      $.post('/cloud/term_sn', {'term_sn': term_sn, 'config': term_config}, function(res){
		  cloud_log(res)
      })
    })

    $('#cloud_delete_edge').click(function(event){
      var term_sn = $('#term_sn_new').val()
		$.ajax({
		  url: '/cloud/term_sn',
		  type: 'DELETE',
		  data: {'term_sn': term_sn},
			success: function(res){
				cloud_log(res)
			}
		});
    })

    $('#cloud_cmd').click(function(event){
      var term_sn = $('#term_sn_new').val()
      $.post('/cloud/cmd', {'term_sn': term_sn}, function(res){
		  cloud_log(res)
      })
    })

  });

  function cloud_log(res){
    var t = res + '\n' + $("#cloud_log").text();
    $("#cloud_log").html(t);
  }
  function edge_log(res){
    var t = res + '\n' + $("#edge_log").text();
    $("#edge_log").html(t);
  }
</script>
{% endblock %}


{% block content %}
<div style='width: 80%;margin: 10px auto;'>
<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        edge操作
      </h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label for="term_sn"> term_sn: </label>
        <input type="text" class="form-control" id="term_sn">
        <label for="term_config"> term_config: </label>
        <input type="text" class="form-control" id="term_config">
      </div>
      <div class="form-group">
        <button id="edge_create" class="btn btn-primary">启动edge设备</button>
        <button id="edge_register" class="btn btn-primary">edge设备注册</button>
        <button id="edge_report" class="btn btn-primary">edge上报事件</button>
      </div>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        cloud 操作
      </h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label for="term_sn_new"> term_sn: </label>
        <input type="text" class="form-control" id="term_sn_new">
        <label for="term_config_new"> term_config: </label>
        <input type="text" class="form-control" id="term_config_new">
      </div>
      <div class="form-group">
        <button id="cloud_start" class="btn btn-primary">启动云端</button>
        <button id="cloud_add_edge" class="btn btn-primary">添加edge设备到数据库</button>
        <button id="cloud_delete_edge" class="btn btn-primary">删除edge设备</button>
        <button id="cloud_cmd" class="btn btn-primary">云端下发指令</button>
      </div>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
      日志打印：
      </h3>
    </div>
    <div class="panel-body">
      <div class="col-md-6 column">
        edge log:
        <pre id='edge_log'></pre>
      </div>
      <div class="col-md-6 column">
        cloud log:
        <pre id='cloud_log'></pre>
      </div>
    </div>
</div>
{% endblock %}
